{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load static %}

  <div class="w3-container">

    <div class="w3-container">
      <h1>Richiesta di rimborso </h1>
      <h3>Evento: {{ event.activity.name }}</h3>
      <h3>Data: {{ event.date }}</h3>
      <h3>Prezzo: {{ event.activity.price }}</h3>
    </div>

    {% if refund_step == '1' %}

        <form class="w3-container" enctype="multipart/form-data" method="POST">
          {% csrf_token %}

          <div class="w3-card w3-padding w3-border w3-border-black">

            {% if choices == 'credits' %}
              <h3>Poiche l'acquisto è stato fatto in crediti anche il rimborso avverrà in crediti:</h3>
              <input class="w3-radio" type="radio" name="refund" value="credits" checked>
              <label>Crediti</label>
              <br>
              <br>
            {% elif choices == 'card_or_credits' %}
              <h3>Scegli una modalità di rimborso:</h3>
              <input class="w3-radio" type="radio" name="refund" value="card" >
              <label>Carta (1 euro di commissione)</label>
              <br>
              <input class="w3-radio" type="radio" name="refund" value="credits" checked>
              <label>Crediti</label>
              <br>
              <br>
            {% elif choices == 'card_plus_credit_or_credits' %}
              <h3>Scegli una modalità di rimborso:</h3>
              <input class="w3-radio" type="radio" name="refund" value="card_plus_credits" >
              <label>Carta (1 euro di commissione) per il massimo importo possibile: {{ max_amount_card }}, il resto in crediti</label>
              <br>
              <input class="w3-radio" type="radio" name="refund" value="credits" checked>
              <label>Crediti</label>
              <br>
              <br>
            {% endif %}

            <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Proceed">
            <a href="{% url 'TravelsApp:ask_refund' pk=event.id refund_step=2%}" class="w3-btn w3-blue w3-center">Discard</a>
            <br>
            <br>
          </div>
        </form>
        <br>
        <br>
    {% else %}

    <div class="w3-container">
      {% if user_subscribed %}

        {% if refund_result == 'success' %}
        <h3><i class="fas fa-check"></i>Rimborso eseguito!</h3>
        {% else %}
        <h3><i class="fas fa-times"></i>C'è stato un problema con il rimborso: {{ refund_result }}</h3>
        <h3>Contattare il supporto per informazioni.</h3>
        {% endif %}
      {% else %}
        <h3><i class="fas fa-times"></i>Rimborso non possibile - non sei iscritto a questo evento!</h3>
      {% endif %}
    </div>

    <form action="{% url 'TravelsApp:events' filter_mode='all' %}" method = "get">
      <br>
      <div class="w3-center">
        <button class="w3-btn w3-blue w3-center" type="submit">Torna agli eventi</button>
      </div>

      <br>

   </form>

    {% endif %}


  </div>

{% endblock %}
