{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load staticfiles  %}


  <div class="w3-container">
      <h1>Ticket purchase confirmation</h1>
      <br>

      {% if buy_step == 'confirmation' %}

        <h3><b>Event: </b>{{ event.activity.name }}</h3>
        <h3><b>Date: </b>{{ event.date }}</h3>
        <h3><b>Ticket Price: </b>{{ event.activity.price }}</h3>

        {% if subscription_expired %}
          <h3><b>+1 Year Subscription Price*: </b>{{ year_subscription_price }}</h3>
        {% endif %}

        {% if credits_to_use > 0 %}
          <h3><b>-Credits: </b>{{ credits_to_use }}</h3><br>
        {% endif %}

        <br>
        <h3><b>TOTAL: </b></h3> <h3><b>{{ total }}</b></h3>

        <h2>Press confirm to proceed!</h2>

        {% if total > 0 %}

          <form action="{% url 'TravelsApp:card_pay' amount=total order_id=order_id %}" method="get">
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-center" type="submit">Pay with card!</button>
            </div>
          </form>

        {% else %}
        <form action="{% url 'TravelsApp:buyticket' pk=pk buy_step='confirmed' total=total credits_to_use=credits_to_use%}" method="get">


        <div class="w3-center">
          <button class="w3-btn w3-blue w3-center" type="submit">Buy ticket!</button>
        </div>

        <br>
          {% if subscription_expired %}

            <h5>* Your subscription expired on: {{ subs_exp_date }}</h5>

          {% endif %}

        </form>
        {% endif       %}

      {% else %}
        <h2>Congratulation your ticket is confirmed!</h2>

      {% endif %}

    </div>

{% endblock %}
