{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load staticfiles  %}


  <div class="w3-container">
      <h1>Ticket purchase confirmation</h1>
      <br>
      {% if buy_step == 'partecipant_selection' %}

        <h3>Is the ticket for you or for a friend?</h3>
        <form action = "{% url 'TravelsApp:buyticket' pk=pk buy_step='partecipant_selection' cmd='receive_user_selected' total=total credits_to_use=credits_to_use order_id=order_id friend_id='-1'%}" class="w3-container" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <div class="w3-card w3-padding w3-border w3-border-black">

              <input class="w3-radio" type="radio" name="me_or_friend" value="me" checked>
              <label>For me</label>
              <br>
              <input class="w3-radio" type="radio" name="me_or_friend" value="friend" >
              <label>For a friend</label>
              <br>
              <br>

              <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Proceed">

              <br>
              <br>
          </div>
        </form>
        <br>
        <br>

      {% elif buy_step == 'collect_friends_mail' %}

        <h3>Please insert your friend's email:</h3>
        <form action = "{% url 'TravelsApp:buyticket' pk=pk buy_step='collect_friends_mail' cmd='receive_email' total=total credits_to_use=credits_to_use order_id=order_id friend_id='-1'%}" class="w3-container" enctype="multipart/form-data" method="POST">

          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Proceed">

        </form>
        {% elif buy_step == 'friend_already_subscibed' %}

             <h3>Your friend already has a ticket for this event!</h3>
             <form action="{% url 'TravelsApp:events' filter_mode='all' %}" method = "get">
              <br>
              <div class="w3-center">
                <button class="w3-btn w3-blue w3-center" type="submit">Back to events</button>
              </div>
              <br>
            </form>

      {% elif buy_step == 'collect_friends_data' %}
        <form action = "{% url 'TravelsApp:buyticket' pk=pk buy_step='collect_friends_data' cmd='receive_friends_data' total=total credits_to_use=credits_to_use order_id=order_id friend_id='-1'%}" class="w3-container" enctype="multipart/form-data" method="POST">

          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}

          <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Proceed">

        </form>
      {% elif buy_step == 'registration_successful' %}
        <h3>Registration was successful</h3>
        <h3>The user will receive a welcome mail with a temporary password</h3>
        <h3>Click to proceed with ticket purchase</h3>
        <form action = "{% url 'TravelsApp:buyticket' pk=pk buy_step='confirmation' cmd='init' total=total credits_to_use=credits_to_use order_id=order_id friend_id=friend_id %}" class="w3-container" enctype="multipart/form-data" method="GET">

          {% csrf_token %}

        <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Proceed">

      {% elif buy_step == 'confirmation' %}

        <h3><b>Event: </b>{{ event.activity.name }}</h3>
        <h3><b>Date: </b>{{ event.date }}</h3>
        <h3><b>Ticket Price: </b>{{ event.activity.price }}</h3>

        {% if subscription_expired %}
          <h3><b>+1 Year Subscription Price*: </b>{{ year_subscription_price }}</h3>
        {% endif %}

        {% if credits_to_use > 0 %}
          <h3><b>-Credits: </b>{{ credits_to_use }}</h3><br>
        {% endif %}

        <br>
        <h3><b>TOTAL: </b></h3> <h3><b>{{ total }}</b></h3>

        <h2>Press confirm to proceed!</h2>

        <!-- Payment with card -->
        {% if total > 0 %}

          <form action="{% url 'TravelsApp:card_pay' amount=total order_id=order_id friend_id=friend_id %}" method="get">
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-center" type="submit">Pay with card!</button>
            </div>
          </form>

        <!-- Payment with credits -->
        {% else %}
        <form action="{% url 'TravelsApp:buyticket' pk=pk buy_step='confirmed' total=total credits_to_use=credits_to_use order_id=order_id friend_id='-1'%}" method="get">


        <div class="w3-center">
          <button class="w3-btn w3-blue w3-center" type="submit">Buy ticket!</button>
        </div>

        <br>
          {% if subscription_expired %}

            <h5>* Subscription expired on: {{ subs_exp_date }}</h5>

          {% endif %}

        </form>
        {% endif       %}

      {% elif  buy_step == 'confirmed' %}
        <h2>Congratulation your ticket is confirmed!</h2>

        <form action="{% url 'TravelsApp:events' filter_mode='all' %}" method = "get">
          <br>
          <div class="w3-center">
            <button class="w3-btn w3-blue w3-center" type="submit">Back to events</button>
          </div>
          <br>
       </form>


      {% endif %}

    </div>

{% endblock %}
