
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pagina pagamento con stripe</title>
    {% load static  %}

    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    {% csrf_token %}
    <input type="hidden" id="total" value="{{ total }}">
    <input type="hidden" id="friend_id" value="{{ friend_id }}">

  <div class="w3-container">
      <h1>Pagamento con carta</h1>
      <br>
      <h3><b>TOTALE: </b></h3> <h3><b>{{ total }}</b></h3>

      <link rel="stylesheet" href="{% static 'css/payment.css' %}" />
        <!-- Display a payment form -->
        <form id="payment-form">
          <div id="card-element"><!--Stripe.js injects the Card Element--></div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
          </button>
          <p id="card-error" role="alert"></p>
          <p class="result-message hidden">
            Pagamento confermato, guarda il risultato nel tuo
            <a href="" target="_blank">Stripe dashboard.</a>
          </p>
        </form>

    </div>
    <script>
        // A reference to Stripe.js initialized with a fake API key.
        // Sign in to see examples pre-filled with your key.
        var stripe = Stripe("pk_test_51JKVSWC9NPB01a0nNN5S4W3v2mW71V03xvlS523ic9u3UccHU5eaRjWTAToiurShpqDDUHpVIUClJxyVZ8Z1hMlR00gxnSE5Qb");

        // Disable the button until we have Stripe set up on the page
        document.querySelector("button").disabled = true;
        //var addr =document.querySelector('#payment_intent_address').innerText
        const addr = '{{ payment_intent_address }}'
        //var x  =document.getElementById('payment_intent_address').textContent
        //const addr = JSON.parse(x);


      token = document.getElementsByName("csrfmiddlewaretoken")[0].value
      total = document.querySelector("#total").value
      var purchase = {
        total: total,
        order_id: {{ order_id }}
      };


        fetch(addr, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": token,
          },
          body: JSON.stringify(purchase)
        })
          .then(function(result) {
            return result.json();
          })
          .then(function(data) {

            var elements = stripe.elements();

            var style = {
              base: {
                color: "#32325d",
                fontFamily: 'Arial, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                  color: "#32325d"
                }
              },
              invalid: {
                fontFamily: 'Arial, sans-serif',
                color: "#fa755a",
                iconColor: "#fa755a"
              }
            };

            var card = elements.create("card", { style: style });
            // Stripe injects an iframe into the DOM
            card.mount("#card-element");

            card.on("change", function (event) {
              // Disable the Pay button if there are no card details in the Element
              document.querySelector("button").disabled = event.empty;
              document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
            });

            var form = document.getElementById("payment-form");
            form.addEventListener("submit", function(event) {
              event.preventDefault();
              // Complete payment when the submit button is clicked
              payWithCard(stripe, card, data.clientSecret);
            });
          });

        // Calls stripe.confirmCardPayment
        // If the card requires authentication Stripe shows a pop-up modal to
        // prompt the user to enter authentication details without leaving your page.
        var payWithCard = function(stripe, card, clientSecret) {
          loading(true);
          stripe
            .confirmCardPayment(clientSecret, {
              payment_method: {
                card: card
              }
            })
            .then(function(result) {
              if (result.error) {
                // Show error to your customer
                showError(result.error.message);
              } else {
                // The payment succeeded!
                orderComplete(result.paymentIntent.id);
              }
            });
        };

        /* ------- UI helpers ------- */

        // Shows a success message when the payment is complete
        //note that at this point the payment is done so it is ok that the user is
        //sent a confirmation page.
        //Please note anyway that the webhook at server side has not been called yet
        // and untill that point the order is not actually close and the tickets
        //are not emitted
        var orderComplete = function(paymentIntentId) {
          loading(false);
          document
            .querySelector(".result-message a")
            .setAttribute(
              "href",
              "https://dashboard.stripe.com/test/payments/" + paymentIntentId
            );
          document.querySelector(".result-message").classList.remove("hidden");
          document.querySelector("button").disabled = true;
          window.location.replace("{% url 'TravelsApp:buyticket' pk=0 buy_step='card_pay_successful' cmd='init' total=0 credits_to_use=0 order_id=order_id friend_id=friend_id %}");

        };

        // Show the customer the error from Stripe if their card fails to charge
        var showError = function(errorMsgText) {
          loading(false);
          var errorMsg = document.querySelector("#card-error");
          errorMsg.textContent = errorMsgText;
          setTimeout(function() {
            errorMsg.textContent = "";
          }, 4000);
        };

        // Show a spinner on payment submission
        var loading = function(isLoading) {
          if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("button").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
          } else {
            document.querySelector("button").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
          }
        };

      </script>



  </body>
</html>
