{% extends "TravelsApp/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body_block %}

{% if data_change_successful %}

  <div class="w3-container w3-blue">
    <h2>Password aggiornata!</h2>
  </div>

{% else %}

      <div class="w3-container w3-blue">
        <h2>Inserisci la tua nuova password</h2>
      </div>

      <form class="w3-container" enctype="multipart/form-data" method="POST">

        {% csrf_token %}
        {{ user_form.as_p }}

        <input type="submit" class="w3-btn w3-blue w3-center" name="" value="Save">
        <a href="{% url 'TravelsApp:index' %}" class="w3-btn w3-blue w3-center">Annulla</a>

      </form>
      <br>

{% endif %}

{% endblock %}
