{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load static %}

  <div class="w3-container">

      {% if user.is_authenticated %}
      <!-- Title on the top ! -->
      <div class="w3-row w3-padding-16 " >

        <div class="w3-container w3-center w3-card-4 w3-pale-blue w3-mobile w3-round-xxlarge">
          <h1>{{ event.activity.name }}</h1>
          <br>
        </div>

      </div>

      <div class="w3-row w3-padding-16" >
        <!-- Image for the activity ! -->
        <div class="w3-container w3-twothird w3-mobile">
          <div class="w3-display-container w3-card-4 w3-round-xxlarge">

            <div class="w3-display-container">
              <img src="{% static event_image_name %}" class="w3-round-xxlarge" style="width:100%" alt="{{ event_image_name }}">
              <!-- Disply place on top left of image -->
              <div class="w3-display-topleft w3-container w3-round-xxlarge w3-yellow w3-opacity-min">
                <h2 >{{ event.activity.place }}</h2>
              </div>
              <!-- Disply date on bottom right of image -->
              <div class="w3-display-bottomright w3-container w3-round-xxlarge w3-brown w3-opacity-min">
                <h2 >{{ event.date }}</h2>
              </div>
              <!-- Disply type on top right of image -->
              <div class="w3-display-topright w3-container w3-round-xxlarge w3-orange w3-opacity-min">
                <h2 >{{ event.activity.type }}</h2>
              </div>
            </div>

            <!-- Detail of activity below image -->
            <div class="w3-container w3-center" style="height:300px">
              <p>{{ event.activity.activityDetail }}</p>
            </div>

          </div>
        </div>

        <!-- Right panel with properties -->
        <div class="w3-container  w3-card-4 w3-third  w3-pale-blue w3-mobile w3-round-xxlarge">

          <p><b>Description: </b>{{ event.activity.description }}</p>
          <p><b>Date: </b>{{ event.date }}</p>
          <p><b>Place: </b>{{ event.activity.place }}</p>
          <p><b>Partecipants: </b>{{ event.partecipants.all.count }}</p>
          <p><b>Type: </b>{{ event.activity.type }}</p>
          <p><b>Price: </b>{{ event.activity.price }} Euro</p>

          <p><b>Confirmed: </b>
          {% if event.confirmed %}
           Yes!
          {% else %}
           Not yet
          {% endif %}</p>

          <p><b>Dogs allowed: </b>
          {% if event.activity.dogsAllowed %}
           Yes!
          {% else %}
           No
          {% endif %}</p>

          <p><b>Kids allowed: </b>
          {% if event.activity.kidsAllowed %}
           Yes!
          {% else %}
           No
          {% endif %}</p>

          <p><b>Duration: </b>{{ event.activity.duration }} hours</p>
          <p><b>Minimum partecipants: </b>{{ event.activity.minNumPartecipants }}</p>
          <p><b>Maximum partecipants: </b>{{ event.activity.maxNumPartecipants }}</p>

          <p><b>Difficulty Level: </b>{{ event.activity.difficultyLevel }}</p>

          {% if event.activity.type == "Trekking" %}

            <p><b>Length: </b>{{ event.activity.length|floatformat }} Km</p>
            <p><b>Gradient: </b>{{ event.activity.gradient|floatformat  }} m</p>
            <p><b>Street type: </b>{{ event.activity.streetType }}</p>

          {% endif %}

        </div>

      </div>

      <!-- Bottom panel with properties -->
      <div class="w3-row w3-padding-16" >
        <div class="w3-container w3-card-4 w3-pale-blue w3-mobile w3-round-xxlarge">
              <p><b>Meet place: </b>
                <a href="{{ event.activity.meetPlaceLink }}">Click to see on Google Maps</a>
              </p>
              <p><b>Meet time: </b>{{ event.time }}</p>
              <p><b>Start time: </b>{{ start_time }}</p>
              <p><b>Directions: </b>{{ event.activity.meetPlaceDirections }}</p>
              <p><b>Leader: </b>{{ event.activity.leader }}</p>
              <p><b>What To Bring: </b>{{ event.activity.whatToBring }}</p>
              <br><br>
          </div>
          <br>
          <br>

          {% if user_already_has_this_ticket  %}
            {% if can_ask_refund %}
              <form action="{% url 'TravelsApp:ask_refund' pk=event.id refund_step=1%}" method="get">

                <div class="w3-center">
                  <button class="w3-btn w3-blue w3-center" type="submit">Ask refund</button>
                </div>

                <br>

              </form>
            {% else %}
            <!--
            <div class="w3-center">
              <p>Te toca nare!</p>
            </div>
            -->
            {% endif %}

          {% elif queued_to_this_event %}
            <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='remove_me' %}" method="get">

              <div class="w3-center">
                <h2>You are queued to this event. Press the button below to be removed from the queue. </h2>
                <button class="w3-btn w3-blue w3-center" type="submit">Remove me from queue!</button>
              </div>

              <br>

            </form>
          {% elif event.partecipants.count < event.activity.maxNumPartecipants %}

          <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='confirmation' total=0 credits_to_use=0 %}" method="get">
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-center" type="submit">Buy ticket!</button>
            </div>

            <br>

          </form>
          {% else %}
          <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='add_me' %}" method="get">

            <div class="w3-center">
              <h2>This event is full! Press the button below to be added to the queue. You will be notified as soon as a place becomes available</h2>
              <button class="w3-btn w3-blue w3-center" type="submit">Add me to the queue!</button>
            </div>

            <br>

          </form>

          {% endif %}



      {% else %}

        <h1>You need to register in order to see this</h1>

      {% endif %}
      </div>


  </div>

{% endblock %}
