{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load static %}

  <div class="w3-container">


      <!-- Title on the top ! -->
      <div class="w3-row w3-padding-16 " >

        <div class="w3-container w3-center w3-card-4 w3-pale-blue w3-mobile w3-round-xxlarge">
          <h1>{{ event.activity.name }}</h1>
          <br>
        </div>

      </div>

      <!-- !!!! EXPERIMENTAL: duplicates the buttons at botton  -->
      {% if user.is_authenticated %}

      <div class="w3-row " >
          {% if user_already_has_this_ticket  %}

            {% if can_ask_refund %}
              <form action="{% url 'TravelsApp:ask_refund' pk=event.id refund_step=1%}" method="get">
                  {% csrf_token %}
                <div class="w3-center">
                  <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Chiedi rimborso</button>
                </div>

                <br>
              </form>

            {% else %}

              <div class="w3-center w3-orange w3-block w3-round-large">
                <p>Il biglietto non è più rimborsabile</p>
              </div>

            {% endif %}

            <!-- <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='partecipant_selection' cmd='receive_user_selected' total=0 credits_to_use=0 order_id=0 friend_id='-1'%}" method="post"> -->
            <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='conditions_acceptance' cmd='acceptance_for_friend' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="POST">
            {% csrf_token %}
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Compra per un altra persona</button>
            </div>

            <br>
            </form>

          {% elif queued_to_this_event %}
            <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='remove_me' %}" method="get">

              <div class="w3-center">
                <h2>Sei in coda per questo evento. Premi il pulsante qui sotto per essere rimosso dalla coda. </h2>
                <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Rimuovimi dalla coda!</button>
              </div>

              <br>

            </form>
          {% elif event.partecipants.count < event.activity.maxNumPartecipants %}
          <!--
          <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='partecipant_selection' cmd='init' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="get">
          -->
          <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='conditions_acceptance' cmd='acceptance_for_me' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="POST">

          {% csrf_token %}
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Acquista biglietto!</button>
            </div>

            <br>

          </form>

          {% else %}
          <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='add_me' %}" method="get">

            <div class="w3-center">
                <h2>Questo evento è pieno! Permi il tasto qui sotto per essere aggiunto alla coda. Sarai informato via mail quando si libera un posto.</h2>
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Add me to the queue!</button>
            </div>

            <br>

          </form>

          {% endif %}

      {% else %}
        <form action="{% url 'TravelsApp:register' code='0' %}" method="get">

          <div class="w3-center">
            <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Registrati al sito per acquistare</button>
          </div>

          <br>

        </form>

      </div>
      {% endif %}
      <!-- END EXPERIMENTAL  -->


      <!-- container for image and right panel  -->
      <div class="w3-row" >

        <!-- Image for the activity ! -->
        <div class="w3-twothird w3-mobile w3-margin-bottom">
          <div class="w3-display-container w3-card-4 w3-round-xxlarge">

            <div class="w3-display-container">
              <img src="{% static event_image_name %}" class="w3-round-xxlarge" style="width:100%" alt="{{ event_image_name }}">

              <!-- Disply place on top left of image -->
              <div class="w3-display-topleft w3-container w3-round-xxlarge w3-yellow w3-opacity-min">
                <h2 >{{ event.activity.place }}</h2>
              </div>

              <!-- Disply date on bottom right of image -->
              <div class="w3-display-bottomright w3-container w3-round-xxlarge w3-brown w3-opacity-min">
                <h2 >{{ event.date }}</h2>
              </div>

              <!-- Disply type on top right of image -->
              <div class="w3-display-topright w3-container w3-round-xxlarge w3-orange w3-opacity-min">
                <h2 >{{ event.activity.type }}</h2>
              </div>
            </div>

            <!-- Detail of activity below image -->
            <div class="w3-container w3-rest w3-mobile" >
              <p>{{ event.activity.activityDetail }}</p>
            </div>

          </div>
        </div>

        <!-- Right panel with properties -->
        <div class="w3-container  w3-card-4 w3-rest  w3-pale-blue w3-mobile w3-round-xxlarge w3-margin-bottom">

          <p><b>Descrizione: </b>{{ event.activity.description }}</p>
          <p><b>Data: </b>{{ event.date }}</p>
          <p><b>Luogo: </b>{{ event.activity.place }}</p>
          <p><b>Partecipanti: </b>{{ event.partecipants.all.count }}</p>
          <p><b>Tipo: </b>{{ event.activity.type }}</p>
          <p><b>Prezzo: </b>{{ event.activity.price }} Euro</p>

          <p><b>Confermato: </b>
          {% if event.confirmed %}
           Si!
          {% else %}
           Non ancora
          {% endif %}</p>

          <p><b>Minori: </b>
          {% if event.activity.kidsAllowed %}
           Si!
          {% else %}
           No
          {% endif %}</p>

          <p><b>Cani: </b>
          {% if event.activity.dogsAllowed %}
           Si!
          {% else %}
           No
          {% endif %}</p>

          <p><b>Durata: </b>{{ event.activity.duration }} hours</p>
          <p><b>Minimo partecipanti: </b>{{ event.activity.minNumPartecipants }}</p>
          <p><b>Massimo partecipanti: </b>{{ event.activity.maxNumPartecipants }}</p>

          <p><b>Difficoltà: </b>{{ event.activity.difficultyLevel }}</p>

          {% if event.activity.type == "Trekking" %}

            <p><b>Lunghezza: </b>{{ event.activity.length|floatformat }} Km</p>
            <p><b>Dislivello: </b>{{ event.activity.gradient|floatformat  }} m</p>
            <p><b>Tipo fondo: </b>{{ event.activity.streetType }}</p>

          {% endif %}

        </div>

      </div>


      <!-- Bottom panel with properties -->
      <div class="w3-row " >
        <div class="w3-container w3-card-4 w3-pale-blue w3-mobile w3-round-xxlarge">
              <p><b>Luogo di incontro: </b>
                <a href="{{ event.activity.meetPlaceLink }}">Fai click per vedere su Google Maps</a>
              </p>
              <p><b>Orario di incontro: </b>{{ event.time }}</p>
              <p><b>Orario di partenza: </b>{{ start_time }}</p>
              <p><b>Indicazioni: </b>{{ event.activity.meetPlaceDirections }}</p>
              <p><b>Guida: </b>{{ event.activity.leader }}</p>
              {% if event.activity.type != "Aperitivo" %}
              <p><b>Cosa portare: </b>{{ event.activity.whatToBring }}</p>
              {% endif %}
              <br><br>
        </div>
          <br>
          <br>

       {% if user.is_authenticated %}
          {% if user_already_has_this_ticket  %}

            {% if can_ask_refund %}
              <form action="{% url 'TravelsApp:ask_refund' pk=event.id refund_step=1%}" method="get">
                  {% csrf_token %}
                <div class="w3-center">
                  <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Chiedi rimborso</button>
                </div>

                <br>
              </form>

            {% else %}

              <div class="w3-center w3-orange w3-block w3-round-large">
                <p>Il biglietto non è più rimborsabile</p>
              </div>

            {% endif %}

            <!-- <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='partecipant_selection' cmd='receive_user_selected' total=0 credits_to_use=0 order_id=0 friend_id='-1'%}" method="post"> -->
            <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='conditions_acceptance' cmd='acceptance_for_friend' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="POST">
            {% csrf_token %}
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Compra per un altra persona</button>
            </div>

            <br>
            </form>

          {% elif queued_to_this_event %}
            <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='remove_me' %}" method="get">

              <div class="w3-center">
                <h2>Sei in coda per questo evento. Premi il pulsante qui sotto per essere rimosso dalla coda. </h2>
                <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Rimuovimi dalla coda!</button>
              </div>

              <br>

            </form>
          {% elif event.partecipants.count < event.activity.maxNumPartecipants %}
          <!--
          <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='partecipant_selection' cmd='init' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="get">
          -->
          <form action="{% url 'TravelsApp:buyticket' pk=event.id buy_step='conditions_acceptance' cmd='acceptance_for_me' total=0 credits_to_use=0 order_id=0 friend_id='-1' %}" method="POST">

          {% csrf_token %}
            <div class="w3-center">
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Acquista biglietto!</button>
            </div>

            <br>

          </form>

          {% else %}
          <form action="{% url 'TravelsApp:queue_to_event' pk=event.id command='add_me' %}" method="get">

            <div class="w3-center">
                <h2>Questo evento è pieno! Permi il tasto qui sotto per essere aggiunto alla coda. Sarai informato via mail quando si libera un posto.</h2>
              <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Add me to the queue!</button>
            </div>

            <br>

          </form>

          {% endif %}

      {% else %}
        <form action="{% url 'TravelsApp:register' code='0' %}" method="get">

          <div class="w3-center">
            <button class="w3-btn w3-blue w3-block w3-round-large" type="submit">Registrati al sito per acquistare</button>
          </div>

          <br>

        </form>
     {% endif %}

      </div>

      {% if user.is_staff %}
      <div class="w3-row " >
        <div class="w3-container w3-card-4 w3-pale-blue w3-mobile w3-round-xxlarge">

          <p><b>Partecipanti:</b></p>

          <table class="w3-table w3-striped w3-bordered">
            <tr>
              <th>ID</th>
              <th>Cognome</th>
              <th>Nome</th>
              <th>Telefono</th>
            </tr>

            {% for participant in event.partecipants.all|dictsort:"last_name"  %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participant.last_name }}</td>
                <td>{{ participant.first_name }}</td>
                <td><a href="tel:{{ participant.userprofileinfo.phone_number }}">{{ participant.userprofileinfo.phone_number }}</a></td>
              </tr>
            {% endfor %}
        </table>
        <br>



        </div>
      </div>
      {% endif %}

  </div>

{% endblock %}
