
<html >

  <body>

    <!-- Subject is a hidden field from wich we will exctract the subject of the mail  -->
    <p  id="Subject" hidden> Subscription to the event {{ event.activity.name }} on date {{  event.date }}</p>

    <p>Hallo <b>{{ recipient.first_name }}!</b></p>
    <p>
    Your subscription to the event <b>{{ event.activity.name }}</b> on date {{  event.activity.name }} have been successful!

    {% if user != recipient %}
    The subscription was done by your friend <b>{{ user.first_name }}</b>
    {% endif %}

    <br>
    Login to the site and check event details trough the link below:
    <a href="{% url 'TravelsApp:single' pk=event.id %}"> Event link</a>
    <br>
    <br>
    The TravelsEtc Team
    </p>

  </body>
</html>
