{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load static %}
  <div class="w3-container">
    <div class="bg-light">

        <div class="centerstage">

        {% if filter_mode == "current_user" %}
   
          <div class="w3-container w3-blue w3-round-xxlarge">
            <h2>Ciao {{ user.first_name }} !</h2>
            <h2>Ecco la lista degli eventi a cui sei iscritto:</h2>
          </div>

        {% elif filter_mode == "current_user_past" %}

            <div class="w3-container w3-blue w3-round-xxlarge">
              <h2>Ciao {{ user.first_name }} !</h2>
              <h2>Ecco la lista dei tuoi eventi passati:</h2>
            </div>

        {% elif filter_mode == "all" %}

          <div class="w3-container w3-blue w3-round-xxlarge">
            <h2>Ciao {{ user.first_name }} !</h2>
            <h2>Ecco la lista degli eventi nei prossimi {{ delta_months }} mesi,  scegline uno o usa i filtri per restringere la ricerca!</h2>
          </div>

        {% elif filter_mode == "apply_filter" %}

          {% if event_list %}

          <div class="w3-container w3-blue w3-round-xxlarge">
            <h2>Ciao {{ user.first_name }} !</h2>
            <h2>Ecco una lista di eventi che corrispondono alla tua ricerca:</h2>
          </div>

          {% else %}

          <div class="w3-container w3-blue w3-round-xxlarge">
            <h2>Ciao {{ user.first_name }} !</h2>
            <h2>Nessun evento corrisponde ai tuoi criteri di ricerca :-(:</h2>
          </div>

          {% endif %}

        {% endif %}



        {% if filter_mode == "all" or filter_mode == "apply_filter" %}
        <div class="w3-display-container">

          <br>
          <button class="w3-btn w3-blue w3-block w3-round-large w3-display-middle" onclick="ShowHide('filtersDiv')">
            <i class="fa fa-filter"></i>
            Mostra/Nascondi i filtri</button>
          <br>
          <br>

        </div>
        <div id="filtersDiv" style="display:none">

          <!--Filters form-->

            <form id = "event_filter_form" action="{% url 'TravelsApp:events' filter_mode='apply_filter' %}" method="POST">
              {% csrf_token %}


                <div class="w3-row w3-border">

                  <div class="w3-col s12 m4 l2 w3-container">

                    <p>
                      <label>Città:</label>
                      <input id = "city" onchange="triggerPost()" class="w3-input w3-white" type="text" name="city"  value={{city}}>
                    </p>

                  </div>

                  <div class="w3-col s12 m4 l2 w3-container">
                    <p>
                      <label>Data inizio:</label>

                      {% if start_date %}

                        <input id ="start_date" onchange="triggerPost()" class="w3-input w3-white" type="date"  name="start_date" value={{ start_date }}>

                      {% else %}

                        <input id ="start_date" onchange="triggerPost()" class="w3-input w3-white" type="date" name="start_date" value="2021-01-01">

                      {% endif %}

                    </p>

                  </div>

                  <div class="w3-col s12 m4 l2 w3-container">

                    <p>
                      <label>Data fine:</label>
                      <input onchange="triggerPost()" class="w3-input w3-white" type="date" name="end_date" value={{ end_date }}>
                    </p>

                  </div>

                  <div class="w3-col s12 m4 l2 w3-container">

                    <p>
                      <label>Tipo:</label>
                        <!--<input class="w3-input" type="text" name="type" value={{type}}>  -->
                      <select oninput="triggerPost()" class="w3-input w3-white" name="type">

                        <option value="NoSelection" {% if type == "No Selection" %} selected="selected"{% endif %}></option>
                        <option value="Aperitivo" {% if type == "Aperitivo" %} selected="selected"{% endif %}>Aperitivo</option>
                        <option value="Trekking" {% if type == "Trekking" %} selected="selected"{% endif %}>Trekking</option>
                        <option value="Bicicletta" {% if type == "Bicicletta" %} selected="selected"{% endif %}>Bicicletta</option>
                        <option value="Museo" {% if type == "Museo" %} selected="selected"{% endif %}>Museo</option>
                        <option value="Caccia al tesoro" {% if type == "Caccia al tesoro" %} selected="selected"{% endif %}>Caccia al tesoro</option>
                        <option value="Sport a squadre" {% if type == "Sport a squadre" %} selected="selected"{% endif %}>Sport a squadre</option>

                      </select>
                    </p>

                  </div>

                  <div class="w3-col s12 m4 l2 w3-container">

                    <p>
                      <label>Difficoltà:</label>
                        <!--<input class="w3-input" type="text" name="type" value={{type}}>  -->
                      <select onchange="triggerPost()" class="w3-input w3-white" name="difficultyLevel">

                        <option value="NoSelection" {% if difficultyLevel == "No Selection" %} selected="selected"{% endif %}></option>
                        <option value="Nessuna" {% if difficultyLevel == "Nessuna" %} selected="selected"{% endif %}>Nessuna</option>
                        <option value="T" {% if difficultyLevel == "T" %} selected="selected"{% endif %}>T</option>
                        <option value="E" {% if difficultyLevel == "E" %} selected="selected"{% endif %}>E</option>
                        <option value="EE" {% if difficultyLevel == "EE" %} selected="selected"{% endif %}>EE</option>
                        <option value="EEA" {% if difficultyLevel == "EEA" %} selected="selected"{% endif %}>EEA</option>

                      </select>
                    </p>

                  </div>

                  <div class="w3-col s12 m4 l2 w3-container">

                    <p>
                      <label>Conferma:</label>
                        <!--<input class="w3-input" type="text" name="type" value={{type}}>  -->
                      <select onchange="triggerPost()" class="w3-input w3-white" name="confirmed">

                        <option value="NoSelection" {% if confirmed == "No Selection" %} selected="selected"{% endif %}></option>
                        <option value="confirmed" {% if confirmed == "confirmed" %} selected="selected"{% endif %}>confermato</option>
                        <option value="all" {% if confirmed == "all" %} selected="selected"{% endif %}>tutti</option>

                      </select>
                    </p>

                  </div>

                </div>


            </form>
          </div>
        {% endif %}

        <!-- List of events -->
        <div class="w3-row w3-border" id="events_area">

          {% for event in event_list %}
            <div class="w3-container w3-col s12 m6 l4  w3-round-xxlarge  w3-margin-bottom" >

                <a style="text-decoration: none" href="{% url 'TravelsApp:single' pk=event.pk %}">
                  <div class="w3-card-4  w3-round-xxlarge w3-pale-blue" >

                    <div class="w3-display-container">
                    <img src="{% static 'Images/'|add:event.activity.name|add:'.jpg' %}"
                        class="{% if filter_mode == 'current_user_past' %} w3-grayscale-max  {% endif %} w3-hover-shadow w3-round-xxlarge" alt="Alps" style="width:100%">

                        {% if event.partecipants.count >= event.activity.maxNumPartecipants%}
                        <!-- Disply SOLDOUT at center of image -->
                        <div class="w3-display-topleft w3-container w3-round-xxlarge w3-red w3-opacity-min">
                          <h2 >SOLD OUT!</h2>
                        </div>
                        {% endif %}

                    </div>

                    <div class="w3-container w3-center " >
                      <h4><b>{{ event.activity.name }}</b></h4>

                      {{ event.date               }} <br>
                      {{ event.activity.place         }} <br>
                      Partecipanti:  {{ event.partecipants.all.count }}<br>
                      Prezzo:         {{ event.activity.price         }}<br>
                    </div>
                  </div>
                </a>
            </div>

          {% endfor %}



        </div>


    </div>

  </div>

</div>

{% endblock %}
