
<html >

  <body>

    {% if change_type == 'event_date_changed' %}
    <!-- Subject is a hidden field from wich we will exctract the subject of the mail  -->
      <p  id="Subject" hidden> Cambiamento data evento {{ event.activity.name }}, {{  event.date }} ->> {{ new_date_or_time }}</p>

    {% elif change_type == 'event_cancelled'%}
      <p  id="Subject" hidden> Cancellazione evento {{ event.activity.name }}, data: {{  event.date }}</p>

    {% elif change_type == 'time_changed' %}
      <p  id="Subject" hidden> Cambio orario evento {{ event.activity.name }}, data: {{  event.date }}</p>

    {% elif change_type == 'event_confirmed' %}
      <p  id="Subject" hidden> Conferma evento {{ event.activity.name }}, data: {{  event.date }}</p>

    {% elif change_type == 'event_incoming' %}
        <p  id="Subject" hidden> Evento in arrivo: "{{ event.activity.name }}", in data {{  event.date }}</p>

    {% endif %}

    <p>Ciao <b>{{ recipient.first_name }}!</b>, <br>

    {% if change_type != 'event_incoming' %}
      Ti informiamo che{{ change_reason }} l'evento in oggetto
    {% else %}
                       E' in arrivo l'evento "{{ event.activity.name }}", a {{ event.activity.place }} in data {{ event.date }}<br>
      {{ event.activity.description }}<br><br>
      Il ritrovo è previsto per le ore {{ event.time }}<br><br>

      Indicazioni:<br>
      {{ event.activity.meetPlaceDirections }}<br>
      <br>
      Link punto di ritrovo:<br>
      {{ event.activity.meetPlaceLink}}<br>
      <br>
      <b>La partenza dell'escursione è alle ore  {{ start_time }}</b><br>
      Si raccomanda la massima puntualità.<br>


      Ci sono ancora posti a disposizione, se non vuoi perdertelo accedi al sito ed iscriviti!<br>
    {% endif %}

    {% if change_type == 'event_date_changed' %}

      è stato spostato alla data <b>{{ new_date_or_time }}</b>. <br>
      L'orario di ritrovo rimane alle {{ event.time }} <br>
      Ci dispiace per l'inconveniente e ti ringraziamo per la comprensione.<br>

      Ti preghiamo di confermare la partecipazione rispondendo a questa mail includendo
      nel testo del messaggio le parole 'si, partecipo' oppure 'non partecipo' in caso contrario.<br>

    {% elif change_type == 'event_cancelled'%}

      è stato cancellato.
      Ci dispiace per l'inconveniente.
      Cercheremo di riproporlo appena possibile.

    {% elif change_type == 'time_changed' %}

      ha subito un cambio orario. <br>
      Il nuovo orario di ritrovo è: {{ new_date_or_time }} .<br>
      Ci dispiace per l'inconveniente e ti ringraziamo per la comprensione.<br>
      <br>
      Ti preghiamo di confermare la partecipazione rispondendo a questa mail includendo
      nel testo del messaggio le parole 'si, partecipo' opppure 'non partecipo' in caso contrario.<br>

    {% elif change_type == 'event_confirmed'%}
      è confermato!<br>
    {% endif %}
    </p>
    {% if notes != '' %}
    <p>{{ notes }}</p>
    {% endif %}


    {% if change_type != 'event_cancelled'%}

    Accedi al sito per vedere i dettagli dell'evento:
    <br>
    <a href="{{ server_address }}/{%   url 'TravelsApp:single' pk=event.id %}"> Link evento</a> <br>
    <br>

    Se vuoi chattare con gli altri partecipanti, cercare un passaggio o avere informazioni puoi usare la seguente chat Whatsapp:<br>
    <br>
    <a href="https://chat.whatsapp.com/CINf8I3ereiBEXqsiePWuP"> Chat Whatsapp </a> <br>
    <br>
    Oppure anche la seguente chat Telegram:<br>
    <br>
    <a href="https://t.me/+lWgHBxa7UBkwZWU8"> Chat Telegram </a> <br>
    <br>
    Telegram è un sistema di messaggistica sicuro che garantisce la privacy(non mostra il tuo numero) <br>
    <br>
    Se hai Facebook puoi inoltre accedere al gruppo Facebook al seguente link: <br>
    <br>
    <a href="https://m.facebook.com/groups/221065716882364/?ref=group_browse"> Gruppo JustWalks su Facebook </a> <br>
    <br>
    <br>
    Ti aspettiamo!
    {% endif %}

    <br>
    <br>
    Il team di JustWalks
    </p>

  </body>
</html>
