
<html >

  <body>
    <p>Ciao {{ user.first_name }}!</p>
    <p>
    Si è liberato un posto per l'evento <b>{{ event.activity.name }}</b> in data <b>{{ event.date }}</b> <br>
    Acquistalo dal sito prima che scompaia!

    <a href="{% url 'TravelsApp:single' pk=event.id %}"> Fai click qui per accedere all'evento!</a>

    <br>
    Hai ricevuto questa mail perche' chiesto di essere messo in coda a questo evento. <br>
    Puoi interrompere questa comunicazione dalla pagina dell'evento tramite il pulsante 'Rimuovimi dalla coda'
    <br>
    <br>
    Il team di TravelsEtc
    </p>
  </body>
</html>
