{% extends "TravelsApp/base.html" %}
{% block body_block %}
{% load static %}


  <!-- Add a background color and large text to the whole page
  <div class="w3-center w3-sand w3-grayscale w3-large">-->
  <div class="w3-center">

    <div class="w3-panel">
        <h1><b>JustWalks</b></h1>
        <p> Escursioni nella natura  </p>
    </div>

    <p>Con noi potrai scoprire tantissimi gioielli del tuo territorio ed incontrare tante persone nuove.</p>
    <p>Vi proponiamo tante uscite in giornata grazie alle quali potrai visitare in compagnia i posti piu belli del nostro meravigioso paese.</p>

    <img src="{% static 'Images/MainPage.jpg' %}" style="width:100%;max-width:1000px" class="w3-margin-top w3-round-xxlarge">
    <br>
    <br>
    <div class="w3-panel w3-leftbar w3-light-grey">

      <p class="w3-xlarge w3-serif">
      <i><b>Piena fioritura</b></i><br>
      <br>
      <i>Si erge carico di fiori il pesco,</i><br>
      <i>non tutti diventeranno frutto.</i><br>
      <i>Risplendono chiari come spuma rosata</i><br>
      <i>attraverso l’azzurro e la fuga di nuvole.</i><br>
      <i>Simili a fiori si schiudono i pensieri,</i><br>
      <i>centinaia ogni giorno,</i><br>
      <i>lasciali fiorire! Lascia a ogni cosa il suo corso!</i><br>
      <i>Non chiedere qual è il guadagno!</i><br>
      <i>Vi deve pur essere gioco e innocenza</i><br>
      <i>e dovizia di fiori,</i><br>
      <i>altrimenti per noi sarebbe</i><br>
      <i>troppo piccolo il mondo</i><br>
      <i>e la vita non un piacere.</i><br>
      </p>
      <p class="w3-xlarge w3-serif"><i>Hermann Hesse</i></p>

    </div>


  </div>

{% endblock %}
