{% extends 'TravelsApp/base.html' %}
{% block body_block %}

 {% if post_response == 'failed login' %}

   <div class="w3-container w3-blue">
     <h2>{{ err_message }}</h2>
   </div>

 {% else %}

    <div class="w3-container w3-blue">
      <h2>Please login</h2>
    </div>

 {% endif %}

  <form class="w3-container" method="post" action="{% url 'TravelsApp:user_login' %}">
    {% csrf_token %}

    <p>
      <label>Email:</label>
      <input class="w3-input" type="email" name="email">
    </p>

    <p>
      <label>Password:</label>
      <input class="w3-input" type="password" name="password">
    </p>

    <p></p>
    <button class="w3-btn w3-blue w3-center" type="submit">Submit</button>
    <p></p>
  </form>

{% endblock %}
