
<html >

  <body>

    <!-- Subject is a hidden field from wich we will exctract the subject of the mail  -->
    <p id="Subject" hidden> Registrazione avvenuta</p>

    <p>Ciao <b>{{ recipient.first_name }}!</b></p>
    <p>
    La registrazione di tuo figlio/a <b>{{ minor.first_name }}</b> al nostro sito è avvenuta con successo.<br>
    <br>
    Ora puoi iscriverlo agli eventi in cui è permessa la partecipazione di figli minori.<br>
    Tale caratteristica è visibile nel campo 'minori ammessi' nella scheda di ciascun evento.<br>
    La partecipazione agli eventi a cui lo iscriverai dovrà avvenire con la tua presenza e sotto la tua responsabilità.<br>
    <br>
    Buon divertimento!<br>
    <br>
    Il team JustWalks
    
    </p>

  </body>
</html>
