{% extends "TravelsApp/base.html" %}

{% block body_block %}
{% load static %}

  <div class="w3-container">

    {% if command == 'add_me' %}

      {% if user_queued %}
        <div class="w3-container">
          <h3>Sei già in coda per questo evento e verrai informato qualora si liberi un posto.</h3>
        </div>
      {% else %}
        <div class="w3-container">
          <h3>Sei stato inserito nella coda per questo evento e verrai informato qualora si liberi un posto.</h3>
        </div>
      {% endif %}


    {% elif command == 'remove_me'%}
      <div class="w3-container">

      {% if user_queued %}
          <h3>Sei stato rimosso dalla coda di questo evento.</h3>
      {% else %}
          <h3>Non sei in coda per questo evento.</h3>
      {% endif %}

      </div>
    {% endif %}
      <div class="w3-container">
        <h3><b>Evento:</b> {{ event.activity.name }}</h3>
        <h3><b>Data:</b> {{ event.date }}</h3>
        <h3><b>Prezzo:</b> {{ event.activity.price }}</h3>
      </div>
  </div>

{% endblock %}
