{% extends "TravelsApp/base.html" %}
{% load staticfiles %}

{% block body_block %}

      {% if registered %}

        <div class="w3-container w3-blue">
          <h2>Grazie per esserti registrato!</h2>
          <h2>Hai effettuato il login </h2>
        </div>

      {% else %}

        {% if user_form.errors or profile_form.errors%}

          <div class="w3-container w3-blue">
            <h2>Qualcosa non va nei dati</h2>
            <h2>Per favore correggi gli errori qui sotto:</h2>
          </div>

        {% else %}

          <div class="w3-container w3-blue">
            <h2>Registrati qui</h2>
          </div>

        {% endif %}

        <form class="w3-container" enctype="multipart/form-data" method="POST">

          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" class="w3-btn w3-blue w3-block w3-round-large" name="" value="Register">

        </form>
        <br>

      {% endif %}

{% endblock %}
