
<html >

  <body>

    <!-- Subject is a hidden field from wich we will exctract the subject of the mail  -->
    <p id="Subject" hidden> Registrazione avvenuta</p>

    <p>Ciao <b>{{ recipient.first_name }}!</b></p>
    <p>
    Sei stato iscritto a questo sito dal tuo amico <b>{{ user.first_name }}</b>
    <br>
    Puoi effettuare il login al sito con la tua mail e la password temporanea riportata sotto:
    <a href="{{ server_address }}{% url 'TravelsApp:user_login' %}"> Fai click qui per effettuare il login</a>
    <br>
    Password:<b>{{ password }}</b>
    <br>
    <br>
    Il team TravelsEtc
    </p>

  </body>
</html>
