
<html >

  <body>

    <!-- Subject is a hidden field from wich we will exctract the subject of the mail  -->
    <p id="Subject" hidden> Registration successful</p>

    <p>Hallo <b>{{ recipient.first_name }}!</b></p>
    <p>
    You have been registered to our site by your friend <b>{{ user.first_name }}</b>
    <br>
    You can login to the site with your email and the temporary password below:
    <a href="{% url 'TravelsApp:user_login' %}"> Click here to login</a>
    <br>
    Password:<b>{{ password }}</b>
    <br>
    <br>
    The TravelsEtc Team
    </p>

  </body>
</html>
