/* Coolors Exported Palette - https://coolors.co/26ddee-0084d9-3599de-5e7317-6e5d38-7b8861-ecedec */

/* CSS HEX */
--sky-blue-crayola: #26DDEEff;
--green-blue-crayola: #0084D9ff;
--carolina-blue: #3599DEff;
--dark-olive-green: #5E7317ff;
--field-drab: #6E5D38ff;
--artichoke: #7B8861ff;
--cultured: #ECEDECff;

/* CSS HSL */
--sky-blue-crayola: hsla(185, 85%, 54%, 1);
--green-blue-crayola: hsla(204, 100%, 43%, 1);
--carolina-blue: hsla(204, 72%, 54%, 1);
--dark-olive-green: hsla(74, 67%, 27%, 1);
--field-drab: hsla(41, 33%, 33%, 1);
--artichoke: hsla(80, 17%, 46%, 1);
--cultured: hsla(120, 3%, 93%, 1);

/* SCSS HEX */
$sky-blue-crayola: #26DDEEff;
$green-blue-crayola: #0084D9ff;
$carolina-blue: #3599DEff;
$dark-olive-green: #5E7317ff;
$field-drab: #6E5D38ff;
$artichoke: #7B8861ff;
$cultured: #ECEDECff;

/* SCSS HSL */
$sky-blue-crayola: hsla(185, 85%, 54%, 1);
$green-blue-crayola: hsla(204, 100%, 43%, 1);
$carolina-blue: hsla(204, 72%, 54%, 1);
$dark-olive-green: hsla(74, 67%, 27%, 1);
$field-drab: hsla(41, 33%, 33%, 1);
$artichoke: hsla(80, 17%, 46%, 1);
$cultured: hsla(120, 3%, 93%, 1);

/* SCSS RGB */
$sky-blue-crayola: rgba(38, 221, 238, 1);
$green-blue-crayola: rgba(0, 132, 217, 1);
$carolina-blue: rgba(53, 153, 222, 1);
$dark-olive-green: rgba(94, 115, 23, 1);
$field-drab: rgba(110, 93, 56, 1);
$artichoke: rgba(123, 136, 97, 1);
$cultured: rgba(236, 237, 236, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-right: linear-gradient(90deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-bottom: linear-gradient(180deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-left: linear-gradient(270deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-top-right: linear-gradient(45deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-bottom-right: linear-gradient(135deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-top-left: linear-gradient(225deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-bottom-left: linear-gradient(315deg, #26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);
$gradient-radial: radial-gradient(#26DDEEff, #0084D9ff, #3599DEff, #5E7317ff, #6E5D38ff, #7B8861ff, #ECEDECff);